{% include 'login/twofactor/key-https-warning.twig' %}
<div class="alert alert-danger" role="alert">
  <h4 class="alert-heading">{{ t('Deprecated!') }}</h4>
  <p>{{ t('The FIDO U2F API has been deprecated in favor of the Web Authentication API (WebAuthn).') }}</p>
  <p class="mb-0">
    {{ t('You can still use Firefox to authenticate your account using the FIDO U2F API, however it\'s recommended that you use the WebAuthn authentication instead.') }}
  </p>
</div>
<p>
{{ t("Please connect your FIDO U2F device into your computer's USB port. Then confirm registration on the device.") }}
</p>
<input id="u2f_registration_response" name="u2f_registration_response" value="" type="hidden" data-request="{{ request }}" data-signatures="{{ signatures }}">
