<div class="container">
  {% if user_group == null %}
    <h2>{{ t('Add user group') }}</h2>
  {% else %}
    <h2>{{ t('Edit user group: \'%s\'')|format(edit_user_group_special_chars)|raw }}</h2>
  {% endif %}

  <form action="{{ user_group_url|raw }}" method="post" class="card disableAjax">
    {{ hidden_inputs|raw }}
    <div class="card-header">{{ t('User group menu assignments') }}</div>

    <div class="card-body">
      {% if user_group == null %}
        <div class="mb-3">
          <label class="form-label" for="userGroup">{{ t('Group name:') }}</label>
          <input class="form-control" type="text" name="userGroup" id="userGroup" maxlength="64" autocomplete="off" required>
        </div>
      {% endif %}

      <div class="form-check mb-3">
        <input class="form-check-input checkall_box" type="checkbox" id="addUsersForm_checkall" title="{{ t('Check all') }}">
        <label class="form-check-label" for="addUsersForm_checkall">{{ t('Check all') }}</label>
      </div>

      <div class="row">
        {{ tab_list|raw }}
      </div>
    </div>

    <div class="card-footer">
      <input class="btn btn-primary" type="submit" value="{{ user_group == null ? t('Add user group') : t('Edit user group') }}">
    </div>
  </form>
</div>
