{% for designerTable in tables %}
    {% set i = loop.index0 %}
    {% set unique_id = designerTable.getUniqueIdentifier() %}
    {% set t_n = designerTable.getDbTableString() %}
    {% set db_table_url = designerTable.getDbTableString()|escape('url') %}
    {% set table_name_base64 = designerTable.getTableNameBase64() %}
    {% set table_name = designerTable.getTableName()|escape('html') %}
    {% set table_name_url = table_name|escape('url') %}
    {% set db_base64 = designerTable.getDatabaseNameBase64() %}
    {% set db = designerTable.getDatabaseName()|escape('html') %}
    {% set db_url = db|escape('url') %}
    <input name="t_x[{{ db_table_url }}]" type="hidden" id="t_x_{{ db_table_url }}_" />
    <input name="t_y[{{ db_table_url }}]" type="hidden" id="t_y_{{ db_table_url }}_" />
    <input name="t_v[{{ db_table_url }}]" type="hidden" id="t_v_{{ db_table_url }}_" />
    <input name="t_h[{{ db_table_url }}]" type="hidden" id="t_h_{{ db_table_url }}_" />
    <table id="designer_table_{{ unique_id }}"
        db_url="{{ db_url }}"
        db_name_base64="{{ db_base64 }}"
        table_name_url="{{ table_name_url }}"
        table_name_base64="{{ table_name_base64 }}"
        cellpadding="0"
        cellspacing="0"
        class="designer_tab"
        style="position:absolute; left:
            {{- tab_pos[unique_id] is defined ? tab_pos[unique_id]['X'] : random(range(20, 700)) }}px; top:
            {{- tab_pos[unique_id] is defined ? tab_pos[unique_id]['Y'] : random(range(20, 550)) }}px; display:
            {{- tab_pos[unique_id] is defined or display_page == -1 ? 'block' : 'none' }}; z-index: 1;">
        <thead>
            <tr class="header">
                {% if has_query %}
                    <td class="select_all">
                        <input class="select_all_1"
                            type="checkbox"
                            style="margin: 0;"
                            value="select_all_{{ unique_id }}"
                            id="select_all_{{ i }}"
                            title="{% trans 'Select all' %}"
                            table_name="{{ table_name }}"
                            db_name="{{ db }}">
                    </td>
                {% endif %}
                <td class="small_tab"
                    title="{% trans 'Show/hide columns' %}"
                    id="id_hide_tbody_{{ unique_id }}"
                    unique_id="{{ unique_id }}"
                    table_name="{{ db_table_url }}">{{ tab_pos[unique_id] is not defined or tab_pos[unique_id]['V'] is not empty ? 'v' : '&gt;' }}</td>
                <td class="small_tab_pref small_tab_pref_1"
                    unique_id="{{ unique_id }}"
                    db="{{ db }}"
                    db_url="{{ db_url }}"
                    table_name="{{ table_name }}"
                    table_name_url="{{ table_name_url }}"
                    db_table_name_url="{{ db_table_url }}">
                    <img src="{{ theme.getImgPath('designer/exec_small.png') }}"
                        title="{% trans 'See table structure' %}">
                </td>
                <td id="id_zag_{{ unique_id }}"
                    class="tab_zag nowrap tab_zag_noquery"
                    table_name="{{ unique_id }}"
                    query_set="{{ has_query ? 1 : 0 }}">
                    <span class="owner">{{ designerTable.getDatabaseName() }}</span>
                    {{ designerTable.getTableName() }}
                </td>
                {% if has_query %}
                    <td class="tab_zag tab_zag_query"
                        id="id_zag_{{ unique_id }}_2"
                        table_name="{{ db_table_url }}">
                    </td>
               {% endif %}
            </tr>
        </thead>
        <tbody id="id_tbody_{{ unique_id }}"
            {{- tab_pos[unique_id] is defined and tab_pos[unique_id]['V'] is empty ? ' style="display: none"' }}>
            {% set display_field = designerTable.getDisplayField() %}
            {% set table_columns = designerTable.getColumns() %}
            {% for designerColumn in table_columns %}
                {% set col_name = designerColumn.getColumnName() %}
                {% set col_name_base64 = designerColumn.getColumnNameBase64() %}
                {% set col_name_uuid = designerColumn.getUniqueIdentifier() %}
                {% set tmp_column = designerColumn.getDbTableColString() %}
                {% set col_name_url = col_name|url_encode %}
                {% set isPkOrUnique = 0 %}
                {% if not designerTable.supportsForeignkeys() %}
                    {% set isPkOrUnique = tables_pk_or_unique_keys[tmp_column] is defined ? 1 : 0 %}
                {% else %}
                    {# if foreign keys are supported, it's not necessary that the
                    index is a primary key #}
                    {% set isPkOrUnique = tables_all_keys[tmp_column] is defined ? 1 : 0 %}
                {% endif %}

                <tr id="id_tr_{{ col_name_uuid }}"
                    class="tab_field{{- display_field == col_name ? '_3' }}"
                    unique_id="{{ col_name_uuid }}"
                    parent_uuid="{{ unique_id }}"
                    db_base64="{{ db_base64 }}"
                    table_name_base64="{{ table_name_base64 }}"
                    col_name_base64="{{ col_name_base64 }}"
                    is_pk_or_unique="{{ isPkOrUnique }}" >
                    {% if has_query %}
                        <td class="select_all">
                            <input class="select_all_store_col"
                                value="{{ db_table_url }}{{ col_name_url }}"
                                type="checkbox"
                                id="select_{{ i }}-{{ j }}"
                                style="margin: 0;"
                                title="{{ 'Select "%s"'|trans|format(col_name) }}"
                                id_check_all="select_all_{{ i }}"
                                db_name="{{ db }}"
                                table_name="{{ table_name }}"
                                col_name="{{ col_name|escape('html') }}">
                        </td>
                    {% endif %}
                    <td width="10px" colspan="3" id="designer_col_{{ col_name_uuid }}">
                        <div class="nowrap">
                            {% set type = columns_type[t_n ~ '.' ~ tab_column[t_n]['COLUMN_NAME'][j]] %}
                            <img src="{{ theme.getImgPath(type) }}.png" alt="*">
                            {{ tab_column[t_n]['COLUMN_NAME'][j] }} : {{ tab_column[t_n]['TYPE'][j] }}
                        </div>
                    </td>
                    {% if has_query %}
                        <td class="small_tab_pref small_tab_pref_click_opt"
                            {# Escaped 2 times to be able to use it in innerHtml #}
                            option_col_name_modal="<strong>{{ 'Add an option for column "%s".'|trans|format(col_name)|escape('html')|escape('html') }}</strong>"
                            unique_id="{{ unique_id }}"
                            db_name="{{ db }}"
                            table_name="{{ table_name }}"
                            col_name="{{ col_name|escape('html') }}"
                            db_table_name_url="{{ db_table_url }}">
                            <img src="{{ theme.getImgPath('designer/exec_small.png') }}" title="{% trans 'Options'  %}" />
                        </td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endfor %}
