{# Invisible characters will make javascript crash #}
{% spaceless %}
<div id="script_server" class="hide">{{ server }}</div>
<div id="script_db" class="hide">{{ db }}</div>
<div id="script_tables" class="hide">{{ script_tables }}</div>
<div id="script_contr" class="hide">{{ script_contr }}</div>
<div id="script_display_field" class="hide">{{ script_display_field }}</div>
<div id="script_display_page" class="hide">{{ display_page }}</div>
<div id="designer_tables_enabled" class="hide">{{ relation_pdfwork }}</div>
{% endspaceless %}
