<form method="post" action="{{ url('/schema-export') }}" class="disableAjax" id="id_export_pages">
    <fieldset class="pma-fieldset">
        {{ get_hidden_inputs(db) }}
        <label>{% trans 'Select Export Relational Type' %}</label>
        {{ choice|raw }}
        <input type="hidden" name="page_number" value="{{ page }}">
        {{ options|raw }}
    </fieldset>
</form>
