<div id="layer_menu" class="hide">
    <div class="center">
        <a href="#" class="M_butt" target="_self" >
            <img title="{% trans 'Hide/Show all' %}"
                alt="v"
                id="key_HS_all"
                src="{{ theme.getImgPath('designer/downarrow1.png') }}"
                data-down="{{ theme.getImgPath('designer/downarrow1.png') }}"
                data-right="{{ theme.getImgPath('designer/rightarrow1.png') }}" />
        </a>
        <a href="#" class="M_butt" target="_self" >
            <img alt="v"
                id="key_HS"
                title="{% trans 'Hide/Show tables with no relationship' %}"
                src="{{ theme.getImgPath('designer/downarrow2.png') }}"
                data-down="{{ theme.getImgPath('designer/downarrow2.png') }}"
                data-right="{{ theme.getImgPath('designer/rightarrow2.png') }}" />
        </a>
    </div>
    <div id="id_scroll_tab" class="scroll_tab">
        <table width="100%" style="padding-left: 3px;"></table>
    </div>
    {# end id_scroll_tab #}
    <div class="center">
        {% trans 'Number of tables:' %} <span id="tables_counter">0</span>
    </div>
    <div id="layer_menu_sizer">
        <div class="floatleft">
            <img class="icon"
                data-right="{{ theme.getImgPath('designer/resizeright.png') }}"
                src="{{ theme.getImgPath('designer/resize.png') }}"/>
        </div>
    </div>
</div>
{# end layer_menu #}
