{% set title = '' %}
{% if column_meta['column_status'] is defined %}
    {% if column_meta['column_status']['isReferenced'] %}
        {% set title = title ~ t('Referenced by %s.')|format(
            column_meta['column_status']['references']|join(',')
        ) %}
    {% endif %}
    {% if column_meta['column_status']['isForeignKey'] %}
        {% if title is not empty %}
            {% set title = title ~ '\n'|raw %}
        {% endif %}
        {% set title = title ~ t('Is a foreign key.') %}
    {% endif %}
{% endif %}
{% if title is empty %}
    {% set title = t('Column') %}
{% endif %}

<input id="field_{{ column_number }}_{{ ci - ci_offset }}"
    {% if column_meta['column_status'] is defined
        and not column_meta['column_status']['isEditable'] %}
        disabled
    {% endif %}
    type="text"
    name="field_name[{{ column_number }}]"
    maxlength="64"
    class="textfield form-control"
    title="{{ title }}"
    size="10"
    value="{{ column_meta['Field'] is defined ? column_meta['Field'] }}">

{% if has_central_columns_feature
    and not (column_meta['column_status'] is defined
        and not column_meta['column_status']['isEditable']) %}
    <p class="column_name" id="central_columns_{{ column_number }}_{{ ci - ci_offset }}">
        <a data-maxrows="{{ max_rows }}"
            href="#"
            class="central_columns_dialog">
            {{ t('Pick from Central Columns') }}
        </a>
    </p>
{% endif %}
