<div class="responsivetable">
<template id="collation_select_options">
  <option value=""></option>
  {% for charset in charsets %}
    <optgroup label="{{ charset.name }}" title="{{ charset.description }}">
      {% for collation in charset.collations %}
        <option value="{{ collation.name }}" title="{{ collation.description }}">
          {{- collation.name -}}
        </option>
      {% endfor %}
    </optgroup>
  {% endfor %}
</template>
<table id="table_columns" class="table table-striped caption-top align-middle mb-0 noclick">
    <caption>
        {{ t('Structure') }}
        {{ show_mysql_docu('CREATE_TABLE') }}
    </caption>
    <tr>
        <th>
            {{ t('Name') }}
        </th>
        <th>
            {{ t('Type') }}
            {{ show_mysql_docu('data-types') }}
        </th>
        <th>
            {{ t('Length/Values') }}
            {{ show_hint(t('If column type is "enum" or "set", please enter the values using this format: \'a\',\'b\',\'c\'…<br>If you ever need to put a backslash ("\\") or a single quote ("\'") amongst those values, precede it with a backslash (for example \'\\\\xyz\' or \'a\\\'b\').')) }}
        </th>
        <th>
            {{ t('Default') }}
            {{ show_hint(t('For default values, please enter just a single value, without backslash escaping or quotes, using this format: a')) }}
        </th>
        <th>
            {{ t('Collation') }}
        </th>
        <th>
            {{ t('Attributes') }}
        </th>
        <th>
            {{ t('Null') }}
        </th>

        {# Only for 'Edit' Column(s) #}
        {% if change_column is defined and change_column is not empty %}
            <th>
                {{ t('Adjust privileges') }}
                {{ show_docu('faq', 'faq6-39') }}
            </th>
        {% endif %}

        {# We could remove this 'if' and let the key information be shown and
           editable. However, for this to work, structure.lib.php must be
           modified to use the key fields, as tbl_addfield does. #}
        {% if not is_backup %}
            <th>
                {{ t('Index') }}
            </th>
        {% endif %}

        <th>
            <abbr title="AUTO_INCREMENT">A_I</abbr>
        </th>
        <th>
            {{ t('Comments') }}
        </th>

        {% if is_virtual_columns_supported %}
            <th>
                {{ t('Virtuality') }}
            </th>
        {% endif %}

        {% if fields_meta is defined %}
            <th>
                {{ t('Move column') }}
            </th>
        {% endif %}

        {% if relation_parameters.browserTransformationFeature is not null and browse_mime %}
            <th>
                {{ t('Media type') }}
            </th>
            <th>
                <a href="{{ url('/transformation/overview') }}#transformation" title="
                    {{- t('List of available transformations and their options') -}}
                    " target="_blank">
                    {{ t('Browser display transformation') }}
                </a>
            </th>
            <th>
                {{ t('Browser display transformation options') }}
                {{ show_hint(t('Please enter the values for transformation options using this format: \'a\', 100, b,\'c\'…<br>If you ever need to put a backslash ("\\") or a single quote ("\'") amongst those values, precede it with a backslash (for example \'\\\\xyz\' or \'a\\\'b\').')) }}
            </th>
            <th>
                <a href="{{ url('/transformation/overview') }}#input_transformation"
                   title="{{ t('List of available transformations and their options') }}"
                   target="_blank">
                    {{ t('Input transformation') }}
                </a>
            </th>
            <th>
                {{ t('Input transformation options') }}
                {{ show_hint(t('Please enter the values for transformation options using this format: \'a\', 100, b,\'c\'…<br>If you ever need to put a backslash ("\\") or a single quote ("\'") amongst those values, precede it with a backslash (for example \'\\\\xyz\' or \'a\\\'b\').')) }}
            </th>
        {% endif %}
    </tr>
    {% set options = {'': '', 'VIRTUAL': 'VIRTUAL'} %}
    {% if supports_stored_keyword %}
        {% set options = options|merge({'STORED': 'STORED'}) %}
    {% else %}
        {% set options = options|merge({'PERSISTENT': 'PERSISTENT'}) %}
    {% endif %}
    {% for content_row in content_cells %}
        <tr>
            {% include 'columns_definitions/column_attributes.twig' with content_row|merge({
                'options': options,
                'change_column': change_column,
                'is_virtual_columns_supported': is_virtual_columns_supported,
                'browse_mime': browse_mime,
                'max_rows': max_rows,
                'char_editing': char_editing,
                'attribute_types': attribute_types,
                'privs_available': privs_available,
                'max_length': max_length,
                'relation_parameters': relation_parameters
            }) only %}
        </tr>
    {% endfor %}
</table>
<script>
  function populate_collation_select() {
    const select = this;
    const selectOptions = document.getElementById('collation_select_options').content.cloneNode(true);
    select.appendChild(selectOptions);
    const selectedValue = select.dataset.selected;
    if (selectedValue) {
      select.value = selectedValue;
    }
    $(select).off('focus', populate_collation_select);
  }

  $('.collation-select').on('focus', populate_collation_select);
  $('.collation-select[data-selected]').each(populate_collation_select);
</script>
</div>
