<div class="tab-pane fade{{ first_tab ? ' show active' }}" id="{{ name }}" role="tabpanel" aria-labelledby="{{ name }}-tab">
  <div class="card border-top-0">
    <div class="card-body">
      <h5 class="card-title visually-hidden">{{ title }}</h5>
      {% if description is not empty %}
        <h6 class="card-subtitle mb-2 text-muted">{{ description|raw }}</h6>
      {% endif %}

      <fieldset class="optbox">
        <legend>{{ title }}</legend>

        {# This must match with displayErrors() in scripts.js #}
        {% if errors is iterable and errors|length > 0 %}
          <dl class="errors">
            {% for error in errors %}
              <dd>{{ error }}</dd>
            {% endfor %}
          </dl>
        {% endif %}

        <table class="table table-borderless">
