<form id="multi_edit_central_columns">
  <div class="card">
    <div class="card-header">{{ t('Structure') }}</div>
    <div class="card-body">
  <table id="table_columns" class="table align-middle mb-0 noclick">
    <thead>
      <tr>
        <th>{{ t('Name') }}</th>
        <th>{{ t('Type') }}</th>
        <th>{{ t('Length/Values') }}</th>
        <th>{{ t('Default') }}</th>
        <th>{{ t('Collation') }}</th>
        <th>{{ t('Attributes') }}</th>
        <th>{{ t('Null') }}</th>
        <th>{{ t('A_I', context = 'Auto Increment') }}</th>
      </tr>
    </thead>
    {{ rows|raw }}
  </table>
    </div>
    <div class="card-footer">
      <input class="btn btn-primary" type="submit" name="save_multi_central_column_edit" value="{{ t('Save') }}">
    </div>
  </div>
</form>
