<form method="post" action="{{ url('/normalization/1nf/step1') }}" name="normalize" id="normalizeTable" class="card">
  {{ get_hidden_inputs(db, table) }}

  <div class="card-header">{{ t('Improve table structure (Normalization):') }}</div>

  <div class="card-body">
    <h3 class="card-title">{{ t('Select up to what step you want to normalize') }}</h3>

    {{ t('Hint: Please follow the procedure carefully in order to obtain correct normalization')|notice }}

    <div class="form-check">
      <input class="form-check-input" type="radio" name="normalizeTo" id="normalizeToRadio1" value="1nf" checked>
      <label class="form-check-label" for="normalizeToRadio1">{{ t('First step of normalization (1NF)') }}</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="normalizeTo" id="normalizeToRadio2" value="2nf">
      <label class="form-check-label" for="normalizeToRadio2">{{ t('Second step of normalization (1NF+2NF)') }}</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="radio" name="normalizeTo" id="normalizeToRadio3" value="3nf">
      <label class="form-check-label" for="normalizeToRadio3">{{ t('Third step of normalization (1NF+2NF+3NF)') }}</label>
    </div>
  </div>

  <div class="card-footer">
    <input class="btn btn-primary" type="submit" name="submit_normalize" value="{{ t('Go') }}">
  </div>
</form>
