<div class="message welcome">
  <span>{{ welcome_message }}</span>
</div>
{% for bookmark in bookmarks %}
  <div class="message collapsed bookmark" bookmarkid="{{ bookmark.getId() }}" targetdb="{{ bookmark.getDatabase() }}">
    <div class="action_content">
      <span class="action collapse">{{ t('Collapse') }}</span>
      <span class="action expand">{{ t('Expand') }}</span>
      <span class="action requery">{{ t('Requery') }}</span>
      <span class="action edit_bookmark">{{ t('Edit') }}</span>
      <span class="action delete_bookmark">{{ t('Delete') }}</span>
      <span class="text targetdb">{{ t('Database') }}: <span>{{ bookmark.getDatabase() }}</span></span>
    </div>

    <span class="bookmark_label{{ bookmark.getUser() is empty ? ' shared' }}">{{ bookmark.getLabel() }}</span>
    <span class="query">{{ bookmark.getQuery() }}</span>
  </div>
{% endfor %}
