<a id="db_search"></a>
<form id="db_search_form" method="post" action="db_search.php" name="db_search" class="ajax lock-page">
    {{ Url_getHiddenInputs(db) }}
    <fieldset>
        <legend>{% trans 'Search in database' %}</legend>
        <table class="formlayout all100">
            <tr>
                <td class="right">
                    {% trans 'Words or values to search for (wildcard: "%"):' %}
                </td>
                <td>
                    <input type="text" name="criteriaSearchString" class="all85" value="
                        {{- criteria_search_string }}">
                </td>
            </tr>
            <tr>
                <td class="right vtop">{% trans 'Find:' %}</td>
                <td>
                    {# 4th parameter set to true to add line breaks #}
                    {# 5th parameter set to false to avoid htmlspecialchars() escaping
                       in the label since we have some HTML in some labels #}
                    {{ Util_getRadioFields(
                        'criteriaSearchType',
                        choices,
                        criteria_search_type,
                        true,
                        false
                    ) }}
                </td>
            </tr>
            <tr>
                <td class="right vtop">{% trans 'Inside tables:' %}</td>
                <td rowspan="2">
                    <select name="criteriaTables[]" class="all85" multiple="multiple">
                        {% for each_table in tables_names_only %}
                            <option value="{{ each_table }}"
                                {{- each_table in criteria_tables ? ' selected="selected"' }}>
                                {{ each_table }}
                            </option>
                        {% endfor %}
                    </select>
                </td>
            </tr>
            <tr>
                <td class="right vbottom">
                    <a href="#" onclick="setSelectOptions('db_search', 'criteriaTables[]', true); return false;">
                        {% trans 'Select all' %}
                    </a> /
                    <a href="#" onclick="setSelectOptions('db_search', 'criteriaTables[]', false); return false;">
                        {% trans 'Unselect all' %}
                    </a>
                </td>
            </tr>
            {# Inputbox for column name entry #}
            <tr>
                <td class="right">{% trans 'Inside column:' %}</td>
                <td>
                    <input type="text" name="criteriaColumnName" class="all85" value="
                        {{- criteria_column_name is not empty ? criteria_column_name }}">
                </td>
            </tr>
        </table>
    </fieldset>
    <fieldset class="tblFooters">
        <input type="submit" name="submit_search" value="{% trans 'Go' %}" id="buttonGo">
    </fieldset>
</form>
<div id="togglesearchformdiv">
    <a id="togglesearchformlink"></a>
</div>
