<form method="post" action="{{ url('/import') }}" class="ajax lock-page" id="sqlqueryform" name="sqlform"
  {{- is_upload ? ' enctype="multipart/form-data"' }}>
  {{ get_hidden_inputs(db, table) }}
  <input type="hidden" name="is_js_confirmed" value="0">
  <input type="hidden" name="pos" value="0">
  <input type="hidden" name="goto" value="{{ goto }}">
  <input type="hidden" name="message_to_show" value="{% trans 'Your SQL query has been executed successfully.' %}">
  <input type="hidden" name="prev_sql_query" value="{{ query }}">

  {% if display_tab == 'full' or display_tab == 'sql' %}
    {{ insert|raw }}
  {% endif %}

  {% if display_tab == 'full' %}
    {{ bookmark|raw }}
  {% endif %}

  {% if can_convert_kanji %}
    {% include 'encoding/kanji_encoding_form.twig' %}
  {% endif %}
</form>

<div id="sqlqueryresultsouter"></div>
