<div class=container-fluid>
<div class="row">
  <h2>
    {{ get_image('s_asci') }}
    {% trans 'Character sets and collations' %}
  </h2>
</div>

<div class="table-responsive">
  <table class="table table-light table-striped table-hover table-sm w-auto">
    <thead class="thead-light">
      <tr>
        <th scope="col">{% trans 'Collation' %}</th>
        <th scope="col">{% trans 'Description' %}</th>
      </tr>
    </thead>

    {% for charset in charsets %}
      <tr>
        <th colspan="2" class="table-primary">
          {{ charset.name }}
          {% if charset.description is not empty %}
            (<em>{{ charset.description }}</em>)
          {% endif %}
        </th>
      </tr>
      {% for collation in charset.collations %}
        <tr{{ collation.is_default ? ' class="table-info"' }}>
          <td>
            {{ collation.name }}
            {% if collation.is_default %}
              <span class="sr-only">{% trans '(default)' %}</span>
            {% endif %}
          </td>
          <td>{{ collation.description }}</td>
        </tr>
      {% endfor %}
    {% endfor %}
  </table>
</div>
</div>
