{{ Util_getDivForSliderEffect('query_div', 'Query window'|trans, 'open') }}
<form action="" id="query_form">
    <input type="hidden" id="db_name" value="{{ db }}">
    <fieldset>
        {% for table in tables %}
            <div style="display:none" id="{{ table.hash }}">
                <option value="*">*</option>
                {% for column in table.columns %}
                    <option value="{{ column }}">{{ column }}</option>
                {% endfor %}
            </div>
        {% endfor %}

        {% for i in 0..default_no_of_columns %}
            {% include 'database/multi_table_query/new_column.twig' with {
                'id': i,
                'tables': tables
            } only %}
        {% endfor %}

        <fieldset style="display:inline">
            <input type="button" value="{% trans '+ Add column' %}" id="add_column_button">
        </fieldset>

        <fieldset>
            {% spaceless %}
                <textarea
                    cols="80"
                    rows="4"
                    style="float:left"
                    name="sql_query"
                    id="MultiSqlquery"
                    dir="ltr">
                </textarea>
            {% endspaceless %}
        </fieldset>
    </fieldset>

    <fieldset class="tblFooters">
        <input type="button" id="update_query_button" value="{% trans 'Update query' %}">
        <input type="button" id="submit_query" value="{% trans 'Submit query' %}">
    </fieldset>
</form>
</div>{# Slider div #}
<div id="sql_results"></div>
