<div id="edit_user_dialog">
    {{ header|raw }}
    <form class="submenu-item" name="usersForm" id="addUsersForm" action="server_privileges.php" method="post">
        {{ Url_getHiddenInputs() }}
        <input type="hidden" name="username" value="{{ username }}">
        <input type="hidden" name="hostname" value="{{ hostname }}">
        <input type="hidden" name="dbname" value="{{ database }}">
        <input type="hidden" name="routinename" value="{{ routine }}">
        <input type="hidden" name="grant_count" value="{{ grant_count }}">
        <fieldset id="fieldset_user_global_rights">
            <legend data-submenu-label="{% trans 'Routine' %}">
                {% trans 'Routine-specific privileges' %}
            </legend>
            <p>
                <small>
                    <em>{% trans 'Note: MySQL privilege names are expressed in English.' %}</em>
                </small>
            </p>
            {{ priv_checkboxes|raw }}
        </fieldset>
        <fieldset id="fieldset_user_privtable_footer" class="tblFooters">
            <input type="hidden" name="update_privs" value="1">
            <input type="submit" value="{% trans 'Go' %}">
        </fieldset>
    </form>
</div>
