<div class="item">
    <input type="checkbox" class="checkall" name="{{ priv[0] }}_priv" id="checkbox_{{ priv[0] }}_priv"
        value="Y" title="{{ priv[2] }}" {{ checked }} />
    <label for="checkbox_{{ priv[0] }}_priv">
        <code>
            {{ formatted_priv|raw }}
        </code>
    </label>
</div>
