<div class="container-fluid">
<h2>
  {{ get_image('b_plugin') }}
  {% trans 'Plugins' %}
</h2>

<div id="plugins_plugins">
  <div id="sectionlinks" class="row no-gutters">
    <div class="col-12">
      {% for plugin_type in plugins|keys %}
        <a class="btn btn-primary" href="#plugins-{{- plugins_type_clean[plugin_type] }}">
            {{ plugin_type }}
        </a>
      {% endfor %}
    </div>
  </div>

  {% for type, list in plugins %}
    <div class="responsivetable row">
      <div class="col-12">
        <table class="data_full_width table table-responsive table-hover table-striped" id="plugins-{{ clean_types[type] }}">
          <caption class="tblHeaders">
            {{ plugin_type }}
          </caption>
          <thead>
            <tr>
              <th scope="col">{% trans 'Plugin' %}</th>
              <th scope="col">{% trans 'Description' %}</th>
              <th scope="col">{% trans 'Version' %}</th>
              <th scope="col">{% trans 'Author' %}</th>
              <th scope="col">{% trans 'License' %}</th>
            </tr>
          </thead>
          <tbody>
            {% for plugin in plugin_list %}
              <tr class="noclick">
                <th scope="row">
                  {{ plugin.name }}
                  {% if plugin.status != 'ACTIVE' %}
                    <small class="attention">
                      {% trans 'disabled' %}
                    </small>
                  {% endif %}
                </th>
                <td>{{ plugin.plugin_description }}</td>
                <td>{{ plugin.plugin_type_version }}</td>
                <td>{{ plugin.plugin_author }}</td>
                <td>{{ plugin.plugin_license }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  {% endfor %}
</div>
</div>
