<div class="responsivetable">
    <table class="data_full_width" id="plugins-
        {{- preg_replace('/[^a-z]/', '', plugin_type|lower) }}">
        <caption class="tblHeaders">
            {{ plugin_type }}
        </caption>
        <thead>
            <tr>
                <th>{% trans 'Plugin' %}</th>
                <th>{% trans 'Description' %}</th>
                <th>{% trans 'Version' %}</th>
                <th>{% trans 'Author' %}</th>
                <th>{% trans 'License' %}</th>
            </tr>
        </thead>
        <tbody>
            {% for plugin in plugin_list %}
                <tr class="noclick">
                    <th>
                        {{ plugin['plugin_name'] }}
                        {% if not plugin['is_active'] %}
                            <small class="attention">
                                {% trans 'disabled' %}
                            </small>
                        {% endif %}
                    </th>
                    <td>{{ plugin['plugin_description'] }}</td>
                    <td>{{ plugin['plugin_type_version'] }}</td>
                    <td>{{ plugin['plugin_author'] }}</td>
                    <td>{{ plugin['plugin_license'] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
