<tr class="noclick">
    <td>{{ value['Log_name'] }}</td>
    <td class="right">{{ value['Pos'] }}</td>
    <td>{{ value['Event_type'] }}</td>
    <td class="right">{{ value['Server_id'] }}</td>
    <td class="right">
        {{- value['Orig_log_pos'] is defined ? value['Orig_log_pos'] : value['End_log_pos'] -}}
    </td>
    <td>{{ Util_formatSql(value['Info'], not dontlimitchars) }}</td>
</tr>
