<div class="container-fluid">
  <h2>
    {% trans 'Checking tables' %}
    {{ show_mysql_docu('CHECK_TABLE') }}
  </h2>

  {{ message|raw }}

  <table class="mt-3">
    <thead>
      <tr>
        <th>{% trans 'Table' %}</th>
        <th>{% trans 'Message type' %}</th>
        <th>{% trans 'Message' %}</th>
      </tr>
    </thead>
    <tbody>
      {% for row in rows %}
        <tr>
          <td>{{ row.Table }}</td>
          <td>{{ row.Msg_type|title }}</td>
          <td>{{ row.Msg_text }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  {{ indexes_problems|raw }}
</div>
