{% if timestamp >= filter_ts_from
    and timestamp <= filter_ts_to
    and ('*' in filter_users or entry.username in filter_users) %}
    <tr class="noclick">
        <td class="right"><small>{{ line_number }}</small></td>
        <td><small>{{ entry.date }}</small></td>
        <td><small>{{ entry.username }}</small></td>
        <td>{{ statement|raw }}</td>
        <td class="nowrap">
            <a class="delete_entry_anchor ajax" href="tbl_tracking.php
                {{- url_params|raw }}">
                {{ drop_image_or_text|raw }}
            </a>
        </td>
    </tr>
{% endif %}
