<ul>
    <li id="li_create_database" class="no_bullets">
        {% if is_create_db_priv %}
            <form method="post" action="server_databases.php" id="create_database_form" class="ajax">
                <p><strong>
                    <label for="text_create_db">
                        {{ Util_getImage('b_newdb') }}
                        {% trans 'Create database' %}
                    </label>
                    {{ Util_showMySQLDocu('CREATE_DATABASE') }}
                </strong></p>

                {{ Url_getHiddenInputs('', '', 5) }}
                <input type="hidden" name="reload" value="1" />
                {% if dbstats is not empty %}
                    <input type="hidden" name="dbstats" value="1" />
                {% endif %}

                <input type="text" name="new_db" value="{{ db_to_create }}"
                    maxlength="64" class="textfield" id="text_create_db" required
                    placeholder="{% trans 'Database name' %}" />
                {{ Charsets_getCollationDropdownBox(
                    dbi,
                    disable_is,
                    'db_collation',
                    null,
                    server_collation,
                    true
                ) }}
                <input type="submit" value="{% trans 'Create' %}" id="buttonGo" />
            </form>
        {% else %}
            {# db creation no privileges message #}
            <p><strong>
                {{ Util_getImage('b_newdb') }}
                {% trans 'Create database' %}
                {{ Util_showMySQLDocu('CREATE_DATABASE') }}
            </strong></p>

            <span class="noPrivileges">
                {{ Util_getImage(
                    's_error',
                    '',
                    {'hspace': 2, 'border': 0, 'align': 'middle'}
                ) }}
                {% trans 'No Privileges' %}
            </span>
        {% endif %}
    </li>
</ul>
