<!doctype html>
<html lang="{{ lang }}" dir="{{ text_dir }}" data-bs-theme="{{ theme_color_mode }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="referrer" content="no-referrer">
  <meta name="robots" content="noindex,nofollow,notranslate">
  <meta name="google" content="notranslate">
  <script>window.allowThirdPartyFraming = {{ allow_third_party_framing == 'sameorigin' ? '"sameorigin"' : (allow_third_party_framing ? '1' : '0') }};</script>
  {% if not allow_third_party_framing -%}
    <style id="cfs-style">html{display: none;}</style>
  {%- endif %}

  <link rel="icon" href="favicon.ico" type="image/x-icon">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="{{ theme_path }}/jquery/jquery-ui.css">
  <link rel="stylesheet" type="text/css" href="{{ base_dir }}js/vendor/codemirror/lib/codemirror.css?{{ version }}">
  <link rel="stylesheet" type="text/css" href="{{ base_dir }}js/vendor/codemirror/addon/hint/show-hint.css?{{ version }}">
  <link rel="stylesheet" type="text/css" href="{{ base_dir }}js/vendor/codemirror/addon/lint/lint.css?{{ version }}">
  <link rel="stylesheet" type="text/css" href="{{ theme_path }}/css/theme{{ text_dir == 'rtl' ? '.rtl' }}.css?{{ version }}">
  <title>{{ title }}</title>
  {{ scripts|raw }}
  <noscript><style>html{display:block}</style></noscript>
</head>
<body{{ body_id is not empty ? ' id=' ~ body_id }}>
  {{ navigation|raw }}
  {{ custom_header|raw }}
  {{ load_user_preferences|raw }}

  {% if not show_hint %}
    <span id="no_hint" class="hide"></span>
  {% endif %}

  {% if is_warnings_enabled %}
    <noscript>
      {{ 'Javascript must be enabled past this point!'|trans|error }}
    </noscript>
  {% endif %}

  {% if is_menu_enabled and server > 0 %}
    {{ menu|raw }}
    <div id="page_nav_icons" class="row row-cols-sm-auto align-items-center d-print-none me-3 p-1">
      <div class="col-12">
        <div id="userAccountDropdown" class="dropdown">
          <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{- get_image('user', 'Open user account menu'|trans) -}}
          </button>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item text-nowrap disableAjax" href="{{ url('/server/privileges', {'username': current_user[0], 'hostname': current_user[1]}) }}">
                {{ get_image('user', '', {'aria-hidden': 'true'}) }} <span dir="ltr">{{ current_user|join('@') }}</span>
              </a>
            </li>
            <li><hr class="dropdown-divider"></li>
            <li>
              <a class="dropdown-item disableAjax" href="{{ get_docu_link('index') }}" target="_blank" rel="noopener noreferrer">
                {{ get_icon('b_docs', 'phpMyAdmin documentation'|trans) }}
              </a>
            </li>
            <li>
              <a class="dropdown-item disableAjax" href="{{ get_docu_url(is_mariadb) }}" target="_blank" rel="noopener noreferrer">
                {{ get_icon('b_sqlhelp', is_mariadb ? 'MariaDB documentation'|trans : 'MySQL documentation'|trans) }}
              </a>
            </li>
            <li><hr class="dropdown-divider"></li>
            {% if theme_color_modes|length > 1 %}
              <li>
                <form method="post" action="{{ url('/themes/set') }}" class="dropdown-item py-0 disableAjax">
                  {{ get_hidden_inputs() }}
                  <input type="hidden" name="set_theme" value="{{ theme_id }}">
                  <div class="row row-cols-lg-auto align-items-center flex-nowrap">
                  <div class="col-12">
                    <label class="col-form-label" for="themeColorModeToggle">{{ get_icon('s_theme', 'Appearance:'|trans) }}</label>
                  </div>
                  <div class="col-12">
                    <select class="form-select form-select-sm" name="themeColorMode" id="themeColorModeToggle" aria-label="{{ 'Color mode for the theme'|trans }}">
                      {% for color_mode in theme_color_modes %}
                        <option value="{{ color_mode }}"{{ theme_color_mode == color_mode ? ' selected' }}>
                          {%- if color_mode == 'light' -%}
                            {% trans %}Light{% context %}Light color mode of the theme{% endtrans %}
                          {%- elseif color_mode == 'dark' -%}
                            {% trans %}Dark{% context %}Dark color mode of the theme{% endtrans %}
                          {%- else -%}
                            {{ color_mode|title }}
                          {%- endif -%}
                        </option>
                      {% endfor %}
                    </select>
                  </div>
                  </div>
                </form>
              </li>
            {% endif %}
            <li>
              <a class="dropdown-item disableAjax" href="{{ url('/preferences/manage') }}">{{ get_icon('s_cog', 'Settings'|trans) }}</a>
            </li>
            <li><hr class="dropdown-divider"></li>
            <li>
              <a class="dropdown-item logout disableAjax" href="{{ url('/logout') }}">{{ get_icon('s_loggoff', 'Log out'|trans) }}</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-12">
        <span id="lock_page_icon"></span>
        <span id="page_settings_icon">
          {{ get_image('s_cog', 'Page-related settings'|trans) }}
        </span>
        <a id="goto_pagetop" href="#">{{ get_image('s_top', 'Click on the bar to scroll to top of page'|trans) }}</a>
      </div>
    </div>
  {% endif %}

  {{ console|raw }}

  <div id="page_content">
    {{ messages|raw }}

    {{ recent_table|raw }}
    {%- if is_logged_in -%}
    {{ include('modals/preview_sql_modal.twig') }}
    {{ include('modals/enum_set_editor.twig') }}
    {{ include('modals/create_view.twig') }}
    {%- endif -%}
