{% if tables is empty %}
  <li>
    <span class="dropdown-item-text">{{ t('There are no favorite tables.') }}</span>
  </li>
{% else %}
  {% for table in tables %}
  <li>
    <span class="dropdown-item">
      <a
        class="ajax favorite_table_anchor me-2"
        href="{{ url('/database/structure/favorite-table', table.remove_parameters) }}"
        title="{{ t('Remove from Favorites') }}"
        data-favtargetn="{{ table.table_parameters.md5 }}"
      >
        {{ get_icon('b_favorite') }}
      </a>
      <a class="disableAjax" href="{{ url('/table/recent-favorite', table.table_parameters) }}">
        `{{ table.table_parameters.db }}`.`{{ table.table_parameters.table }}`
      </a>
    </span>
  </li>
  {% endfor %}
{% endif %}
