<img src="themes/dot.gif" class="icon ic_select_all_arrow" title="{{ 'With selected:'|trans }}" alt="{{ 'With selected:'|trans }}" width="38" height="22" dir="{{ text_dir }}">
<input type="checkbox" id="{{ form_name }}_checkall" class="checkall_box"
    title="{% trans 'Check all' %}">
<label for="{{ form_name }}_checkall">{% trans 'Check all' %}</label>
<em class="with-selected">{% trans 'With selected:' %}</em>
