{{ get_image('select_all_arrow', t('With selected:'), {'dir': pma.text_dir, 'width': '38', 'height': '22'}) }}
<input type="checkbox" id="{{ form_name }}_checkall" class="checkall_box"
    title="{{ t('Check all') }}">
<label for="{{ form_name }}_checkall">{{ t('Check all') }}</label>
<em class="with-selected">{{ t('With selected:') }}</em>
