{% for flash_message in flash() %}
  {% if flash_message.statement is empty %}
    <div class="alert alert-{{ flash_message.context }}" role="alert">
      {{ flash_message.message }}
    </div>
  {% else %}
    {{ statement_message(flash_message.message, flash_message.statement, flash_message.context) }}
  {% endif %}
{% endfor %}

{% if has_tables %}
  <div id="tableslistcontainer">
    {{ list_navigator_html|raw }}

    {{ table_list_html|raw }}

    {{ list_navigator_html|raw }}
  </div>
  <hr>
  <p class="d-print-none">
    <button type="button" class="btn btn-link p-0 jsPrintButton">{{ get_icon('b_print', t('Print'), true) }}</button>
    <a href="{{ url('/database/data-dictionary', {'db': database, 'goto': url('/database/structure')}) }}">
      {{ get_icon('b_tblanalyse', t('Data dictionary'), true) }}
    </a>
  </p>
{% else %}
  {{ t('No tables found in database.')|notice }}
{% endif %}

{% if not is_system_schema %}
  {{ create_table_html|raw }}
{% endif %}
