<tr class="noclick">
  <td class="text-center">
    {{ column.Field_title }}
    <input type="hidden" name="fields_name{{ vkey }}[{{ column.Field_md5 }}]" value="{{ column.Field_html }}">
  </td>

  {% if show_field_types_in_data_edit_view %}
    <td class="text-center{{ column.wrap }}">
      <span class="column_type" dir="ltr">{{ column.pma_type }}</span>
    </td>
  {% endif %}

  {% if show_function_fields %}
    {{ function_column|raw }}
  {% endif %}

  <td>
    {% if column.Null|upper == 'YES' and not read_only %}
      <input type="hidden" name="fields_null_prev{{ vkey }}[{{ column.Field_md5 }}]"{{ real_null_value and not column.first_timestamp ? ' value="on"' }}>
      <input type="checkbox" class="checkbox_null" tabindex="{{ tab_index + tab_index_for_null }}" name="fields_null{{ vkey }}[{{ column.Field_md5 }}]" id="field_{{ id_index }}_2" aria-label="{% trans 'Use the NULL value for this column.' %}"{{ real_null_value ? ' checked' }}>
      <input type="hidden" class="nullify_code" name="nullify_code{{ vkey }}[{{ column.Field_md5 }}]" value="{{ nullify_code }}">
      <input type="hidden" class="hashed_field" name="hashed_field{{ vkey }}[{{ column.Field_md5 }}]" value="{{ column.Field_md5 }}">
      <input type="hidden" class="multi_edit" name="multi_edit{{ vkey }}[{{ column.Field_md5 }}]" value="{{ vkey|escape_js_string }}">
    {% endif %}
  </td>

  <td data-type="{{ type }}" data-decimals="{{ decimals }}">
    {# Will be used by table/change.js to set the default value for the "Continue insertion" feature. #}
    <span class="default_value hide">{{ special_chars|raw }}</span>

    {% if transformed_value is not empty %}
      {{ transformed_value|raw }}
    {% else %}
      {{ value|raw }}
    {% endif %}
  </td>
</tr>
