<thead>
    <tr>
        <th class="{{ class }}"></th>
        <th class="hide"></th>
        {% if actionCount > 0 %}
            <th class="column_action" colspan="{{actionCount}}">{% trans 'Action' %}</th>
        {% endif %}
        <th class="{{ class }}" title="{{ title }}" data-column="name">
            {% trans 'Name' %}
            <div class="sorticon"></div>
        </th>
        <th class="{{ class }}" title="{{ title }}" data-column="type">
            {% trans 'Type' %}
            <div class="sorticon"></div>
        </th>
        <th class="{{ class }}" title="{{ title }}" data-column="length">
            {% trans 'Lenght/Value' %}
            <div class="sorticon"></div>
        </th>
        <th class="{{ class }}" title="{{ title }}" data-column="default">
            {% trans 'Default' %}
            <div class="sorticon"></div>
        </th>
        <th class="{{ class }}" title="{{ title }}" data-column="collation">
            {% trans 'Collation' %}
            <div class="sorticon"></div>
        </th>
        <th class="{{ class }}" title="{{ title }}" data-column="attribute">
            {% trans 'Attribute' %}
            <div class="sorticon"></div>
        </th>
        <th class="{{ class }}" title="{{ title }}" data-column="isnull">
            {% trans 'Null' %}
            <div class="sorticon"></div>
        </th>
        <th class="{{ class }}" title="{{ title }}" data-column="extra">
            {% trans 'A_I' %}
            <div class="sorticon"></div>
        </th>
    </tr>
</thead>
