{{ quick_warp|raw }}

<div class="clearfloat"></div>

<ul>
  {{ fast_filter|raw }}
  {{ controls|raw }}
</ul>

{{ page_selector|raw }}

<div id='pma_navigation_tree_content'>
  <ul>
    {{ nodes|raw }}
  </ul>
</div>
