<div class="container-fluid">
<div class="row">
  <ul id="topmenu2" class="nav">
    <li class="nav-item">
      <a href="{{ url('/server/status') }}"{{ active == 'status' ? ' class="tabactive nav-link"':'class="nav-link"' }}>
        {% trans 'Server' %}
      </a>
    </li>
    <li class="nav-item">
      <a href="server_status_processes.php{{ get_common() }}"{{ active == 'processes' ? ' class="tabactive nav-link"':'class="nav-link"' }}>
        {% trans 'Processes' %}
      </a>
    </li>
    <li class="nav-item">
      <a href="{{ url('/server/status/queries') }}"{{ active == 'queries' ? ' class="tabactive nav-link"':'class="nav-link"' }}>
        {% trans 'Query statistics' %}
      </a>
    </li>
    <li class="nav-item">
      <a href="server_status_variables.php{{ get_common() }}"{{ active == 'variables' ? ' class="tabactive nav-link"':'class="nav-link"' }}>
        {% trans 'All status variables' %}
      </a>
    </li>
    <li class="nav-item">
      <a href="{{ url('/server/status/monitor') }}"{{ active == 'monitor' ? ' class="tabactive nav-link"':'class="nav-link"' }}>
        {% trans 'Monitor' %}
      </a>
    </li>
    <li>
      <a href="{{ url('/server/status/advisor') }}"{{ active == 'advisor' ? ' class="tabactive nav-link"':'class="nav-link"' }}>
        {% trans 'Advisor' %}
      </a>
    </li>
  </ul>
  </div>
  <div class="clearfloat"></div>

    {% block content %}{% endblock %}
</div>
