<select lang="en" dir="ltr" name="{{ name|default('collation') }}"
  {%- if id is not empty %} id="{{ id }}"{% endif -%}
  {%- if submit_on_change %} class="autosubmit"{% endif %}>
  {% if has_label %}
    <option value="">{% trans 'Collation' %}</option>
  {% endif %}
  <option value=""></option>
  {% for charset in charsets %}
    <optgroup label="{{ charset.name }}" title="{{ charset.description }}">
      {% for collation in charset.collations %}
        <option value="{{ collation.name }}" title="{{ collation.description }}"{{ collation.is_selected ? ' selected' }}>
          {{- collation.name -}}
        </option>
      {% endfor %}
    </optgroup>
  {% endfor %}
</select>
