{% if not is_ajax %}
  </div>
{% endif %}
{% if not is_ajax and not is_minimal %}
  {{ self_link|raw }}

  <div class="clearfloat" id="pma_errors">
    {{ error_messages|raw }}
  </div>

  {{ scripts|raw }}

  {% if is_demo %}
    <div id="pma_demo">
      {{ demo_message|raw }}
    </div>
  {% endif %}

  {% if has_error_report_modal %}
    <div class="modal fade" id="errorReportModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="errorReportModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-scrollable modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="errorReportModalLabel">{% trans 'Submit error report' %}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="{% trans 'Cancel' %}"></button>
          </div>
          <div class="modal-body"></div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">{% trans 'Cancel' %}</button>
            <button type="button" class="btn btn-primary" id="errorReportModalConfirm">{% trans 'Send error report' %}</button>
          </div>
        </div>
      </div>
    </div>
  {% endif %}

  {{ footer|raw }}
{% endif %}
{% if not is_ajax %}
  </body>
</html>
{% endif %}
