<h2>{{ label.available_MIME_types }}</h2>

{% for mimeType in types.mimetype %}
	{% if types.empty_mimetype.mimetype %}
		<i>{{ mimeType | escape }}</i>
	{% else %}
		{{ mimeType | escape }} <br>
	{% endif %}
{% endfor %}
<br />
{% for ttype in transformation_types %}
	<a name="{{ ttype.title | escape }}"></a>
    <h2>{{ ttype.label | escape }}</h2>
	<table width="90%">
		<thead>
			<th>
				{{ table_headings_label[ttype.title] | escape }}
			</th>
			<th>
				{{ ttype._pgettext | escape }}
			</th>
		</thead>
		<tbody>
		 	{% for type in ttype.types %}
				<tr>
					<td>{{ type.transform | escape }}</td>
					<td>{{ type.description | escape }}</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endfor %}
