<td class="value text-nowrap">
  <table class="table table-borderless table-sm">
    <tr>
      <td class="value text-nowrap p-0">
        <small>{% trans 'Ins:' %}</small>
        <input type="checkbox" name="criteriaRowInsert[{{ row_index }}]" aria-label="{% trans 'Insert' %}">
      </td>
      <td class="value p-0">
        <strong>{% trans 'And:' %}</strong>
      </td>
      <td class="p-0">
        <input type="radio" name="criteriaAndOrRow[{{ row_index }}]" value="and"{{ checked_options.and ? ' checked' }} aria-label="{% trans 'And' %}">
      </td>
    </tr>
    <tr>
      <td class="value text-nowrap p-0">
        <small>{% trans 'Del:' %}</small>
        <input type="checkbox" name="criteriaRowDelete[{{ row_index }}]" aria-label="{% trans 'Delete' %}">
      </td>
      <td class="value p-0">
        <strong>{% trans 'Or:' %}</strong>
      </td>
      <td class="p-0">
        <input type="radio" name="criteriaAndOrRow[{{ row_index }}]" value="or"{{ checked_options.or ? ' checked' }} aria-label="{% trans 'Or' %}">
      </td>
    </tr>
  </table>
</td>
