<div class="exportoptions" id="output">
  <h3>{% trans 'Output:' %}</h3>
  <ul id="ul_output">
    <li>
      <input type="checkbox" id="btn_alias_config"{{ has_aliases ? ' checked' }}>
      <label for="btn_alias_config">
        {% trans 'Rename exported databases/tables/columns' %}
      </label>
    </li>

    {% if export_type != 'server' %}
      <li>
        <input type="checkbox" name="lock_tables" value="something" id="checkbox_lock_tables"
          {{- (not repopulate and is_checked_lock_tables) or lock_tables ? ' checked' }}>
        <label for="checkbox_lock_tables">
          {{ 'Use %s statement'|trans|format('<code>LOCK TABLES</code>')|raw }}
        </label>
      </li>
    {% endif %}

    <li>
      <input type="radio" name="output_format" value="sendit" id="radio_dump_asfile"
        {{- not repopulate and is_checked_asfile ? ' checked' }}>
      <label for="radio_dump_asfile">
        {% trans 'Save output to a file' %}
      </label>
      <ul id="ul_save_asfile">
        {% if has_save_dir %}
          <li>
            <input type="checkbox" name="onserver" value="saveit" id="checkbox_dump_onserver"{{ is_checked_export ? ' checked' }}>
            <label for="checkbox_dump_onserver">
              {{ 'Save on server in the directory <strong>%s</strong>'|trans|format(save_dir|e)|raw }}
            </label>
          </li>
          <li>
            <input type="checkbox" name="onserver_overwrite" value="saveitover" id="checkbox_dump_onserver_overwrite"
              {{- is_checked_export_overwrite ? ' checked' }}>
            <label for="checkbox_dump_onserver_overwrite">
              {% trans 'Overwrite existing file(s)' %}
            </label>
          </li>
        {% endif %}

        <li>
          <label for="filename_template" class="desc">
            {% trans 'File name template:' %}
            {% set filename_hint %}
              {% trans 'This value is interpreted using the \'strftime\' function, so you can use time formatting strings. Additionally the following transformations will happen:' %}
              {% if export_type == 'server' %}
                {% trans '@SERVER@ will become the server name.' %}
              {% elseif export_type == 'database' %}
                {% trans '@SERVER@ will become the server name, @DATABASE@ will become the database name.' %}
              {% elseif export_type == 'table' %}
                {% trans '@SERVER@ will become the server name, @DATABASE@ will become the database name, @TABLE@ will become the table name.' %}
              {% endif %}
              {% trans 'Other text will be kept as is. See the FAQ 6.27 for details.' %}
            {% endset %}
            {{ show_hint(filename_hint) }}
          </label>
          <input type="text" name="filename_template" id="filename_template" value="{{ filename_template }}">
          <input type="checkbox" name="remember_template" id="checkbox_remember_template"{{ is_checked_remember_file_template ? ' checked' }}>
          <label for="checkbox_remember_template">
            {% trans 'use this for future exports' %}
          </label>
        </li>

        {% if is_encoding_supported %}
          <li>
            <label for="select_charset" class="desc">
              {% trans 'Character set of the file:' %}
            </label>
            <select id="select_charset" name="charset" size="1">
              {% for charset in encodings %}
                <option value="{{ charset }}"
                  {{- (export_charset is empty and charset == 'utf-8') or charset == export_charset ? ' selected' }}>
                  {{- charset -}}
                </option>
              {% endfor %}
            </select>
          </li>
        {% endif %}

        {% if has_zip or has_gzip %}
          <li>
            <label for="compression" class="desc">
              {% trans 'Compression:' %}
            </label>
            <select id="compression" name="compression">
              <option value="none">{% trans 'None' %}</option>
              {% if has_zip %}
                <option value="zip"
                  {{- selected_compression == 'zip' ? ' selected' }}>
                  {% trans 'zipped' %}
                </option>
              {% endif %}
              {% if has_gzip %}
                <option value="gzip"
                  {{- selected_compression == 'gzip' ? ' selected' }}>
                  {% trans 'gzipped' %}
                </option>
              {% endif %}
            </select>
          </li>
        {% else %}
          <input type="hidden" name="compression" value="{{ selected_compression }}">
        {% endif %}

        {% if export_type == 'server' or export_type == 'database' %}
          <li>
            <input type="checkbox" id="checkbox_as_separate_files" name="as_separate_files" value="{{ export_type }}"
              {{- is_checked_as_separate_files ? ' checked' }}>
            <label for="checkbox_as_separate_files">
              {% if export_type == 'server' %}
                {% trans 'Export databases as separate files' %}
              {% elseif export_type == 'database' %}
                {% trans 'Export tables as separate files' %}
              {% endif %}
            </label>
          </li>
        {% endif %}
      </ul>
    </li>

    <li>
      <input type="radio" id="radio_view_as_text" name="output_format" value="astext"
        {{- repopulate or export_asfile == false ? ' checked' }}>
      <label for="radio_view_as_text">
        {% trans 'View output as text' %}
      </label>
    </li>
  </ul>

  <label for="maxsize">
    {{- 'Skip tables larger than %s MiB'|trans|format(
      '</label><input type="text" id="maxsize" name="maxsize" size="4">'
    )|raw }}
</div>
