<div class='doubleFieldset'>
  <fieldset class="left">
    <legend>{% trans %}New{% context %}Create new event{% endtrans %}</legend>
    <div class='wrap'>
      {% if has_privilege %}
        <a class="ajax add_anchor" href="{{ url('/database/events', {'db': db, 'table': table, 'add_item': true}) }}" onclick="$.datepicker.initialized = false;">
          {{ get_icon('b_event_add') }}
          {% trans 'Add event' %}
        </a>
      {% else %}
        {{ get_icon('bd_event_add') }}
        {% trans 'Add event' %}
      {% endif %}
      {{ show_mysql_docu('CREATE_EVENT') }}
    </div>
  </fieldset>

  <fieldset class='right'>
    <legend>{% trans 'Event scheduler status' %}</legend>
    <div class='wrap'>
      {{ toggle_button|raw }}
    </div>
  </fieldset>
  <div class='clearfloat'></div>
</div>
