<form action="{{ url('/sql') }}" method="post" class="card bookmarkQueryForm d-print-none disableAjax">
  {{ get_hidden_inputs() }}
  <input type="hidden" name="db" value="{{ db|e('html_attr') }}">
  <input type="hidden" name="goto" value="{{ url('/sql', {'db': db, 'table': table, 'sql_query': sql_query, 'id_bookmark': 1})|e('html_attr') }}">
  <input type="hidden" name="bkm_fields[bkm_database]" value="{{ db|e('html_attr') }}">
  <input type="hidden" name="bkm_fields[bkm_user]" value="{{ user|e('html_attr') }}">
  <input type="hidden" name="bkm_fields[bkm_sql_query]" value="{{ complete_sql_query|e('html_attr') }}">
  <input type="hidden" name="store_bkm" value="1">

  <div class="card-header">{{ get_icon('b_bookmark', t('Bookmark this SQL query'), true) }}</div>
  <div class="card-body">
    <div class="mb-3">
      <label class="form-label" for="bookmarkLabelField">{{ t('Bookmark label:') }}</label>
      <input class="form-control" id="bookmarkLabelField" type="text" name="bkm_fields[bkm_label]" value="">
    </div>

    {% if is_shared_bookmarks_allowed %}
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" role="switch" id="bookmarkAllUsersCheckbox" name="bkm_all_users" value="true">
        <label class="form-check-label" for="bookmarkAllUsersCheckbox">{{ t('Let every user access this bookmark') }}</label>
      </div>
    {% endif %}
  </div>
  <div class="card-footer">
    <input class="btn btn-secondary" type="submit" value="{{ t('Create new bookmark') }}">
  </div>
</form>
