<div class="sqlqueryresults ajax">
    {{ previous_update_query|raw }}
    {{ profiling_chart|raw }}
    {{ missing_unique_column_message|raw }}
    {{ bookmark_created_message|raw }}
    {{ table|raw }}
    {{ bookmark_support|raw }}
</div>
