<form class="ajax" id="changeUserGroupForm" action="{{ url('/server/privileges') }}" method="post">
    {{ get_hidden_inputs(params) }}
    <fieldset id="fieldset_user_group_selection">
        <legend>{% trans 'User group' %}</legend>

        <label for="userGroupSelect">{% trans 'User group:' %}</label>
        <select name="userGroup" id="userGroupSelect">
          <option value=""></option>
          {% for option in all_user_groups %}
            <option value="{{ option }}"{{ user_group == option ? ' selected' }}>{{ option }}</option>
          {% endfor %}
        </select>
        <input type="hidden" name="changeUserGroup" value="1">
    </fieldset>
</form>
