<tr>
    <td>{{ name }}</td>
    <td><code>{{ privileges|raw }}</code></td>
    <td>{{ grant ? 'Yes'|trans : 'No'|trans }}</td>

    {% if type == 'database' %}
        <td>{{ table_privs ? 'Yes'|trans : 'No'|trans }}</td>
    {% elseif type == 'table' %}
        <td>{{ column_privs ? 'Yes'|trans : 'No'|trans }}</td>
    {% endif %}

    <td>{{ edit_link|raw }}</td>
    <td>{{ revoke_link|raw }}</td>
</tr>
