<fieldset>
    <legend>{% trans 'Resource limits' %}</legend>
    <p>
        <small>
            <em>{% trans 'Note: Setting these options to 0 (zero) removes the limit.' %}</em>
        </small>
    </p>
    {% for limit in limits %}
        <div class="item">
            <label for="text_{{ limit['input_name'] }}">
                <code>
                <dfn title="{{ limit['description'] }}">
                    {{ limit['name_main'] }}
                </dfn>
                </code>
            </label>
            <input type="number" name="{{ limit['input_name'] }}" id="text_{{ limit['input_name'] }}"
                value="{{ limit['value'] }}" title="{{ limit['description'] }}">
        </div>
    {% endfor %}
</fieldset>
