<input type="hidden" name="grant_count" value="{{ row|length }}">
<input type="hidden" name="column_count" value="{{ columns|length }}">
<fieldset id="fieldset_user_priv">
  <legend data-submenu-label="{% trans 'Table' %}">
    {% trans 'Table-specific privileges' %}
  </legend>
  <p>
    <small><em>{% trans 'Note: MySQL privilege names are expressed in English.' %}</em></small>
  </p>

  <div class="item" id="div_item_select">
    <label for="select_select_priv">
      <code><dfn title="{% trans 'Allows reading data.' %}">SELECT</dfn></code>
    </label>

    <select id="select_select_priv" name="Select_priv[]" size="8" multiple>
      {% for curr_col, curr_col_privs in columns %}
        <option value="{{ curr_col }}"{{ row['Select_priv'] == 'Y' or curr_col_privs['Select'] ? ' selected' }}>
          {{ curr_col }}
        </option>
      {% endfor %}
    </select>

    <em>{% trans 'Or' %}</em>
    <label for="checkbox_Select_priv_none">
      <input type="checkbox" name="Select_priv_none" id="checkbox_Select_priv_none" title="
        {%- trans %}None{% context %}None privileges{% endtrans %}">
      {% trans %}None{% context %}None privileges{% endtrans %}
    </label>
  </div>

  <div class="item" id="div_item_insert">
    <label for="select_insert_priv">
      <code><dfn title="{% trans 'Allows inserting and replacing data.' %}">INSERT</dfn></code>
    </label>

    <select id="select_insert_priv" name="Insert_priv[]" size="8" multiple>
      {% for curr_col, curr_col_privs in columns %}
        <option value="{{ curr_col }}"{{ row['Insert_priv'] == 'Y' or curr_col_privs['Insert'] ? ' selected' }}>
          {{ curr_col }}
        </option>
      {% endfor %}
    </select>

    <em>{% trans 'Or' %}</em>
    <label for="checkbox_Insert_priv_none">
      <input type="checkbox" name="Insert_priv_none" id="checkbox_Insert_priv_none" title="
        {%- trans %}None{% context %}None privileges{% endtrans %}">
      {% trans %}None{% context %}None privileges{% endtrans %}
    </label>
  </div>

  <div class="item" id="div_item_update">
    <label for="select_update_priv">
      <code><dfn title="{% trans 'Allows changing data.' %}">UPDATE</dfn></code>
    </label>

    <select id="select_update_priv" name="Update_priv[]" size="8" multiple>
      {% for curr_col, curr_col_privs in columns %}
        <option value="{{ curr_col }}"{{ row['Update_priv'] == 'Y' or curr_col_privs['Update'] ? ' selected' }}>
          {{ curr_col }}
        </option>
      {% endfor %}
    </select>

    <em>{% trans 'Or' %}</em>
    <label for="checkbox_Update_priv_none">
      <input type="checkbox" name="Update_priv_none" id="checkbox_Update_priv_none" title="
        {%- trans %}None{% context %}None privileges{% endtrans %}">
      {% trans %}None{% context %}None privileges{% endtrans %}
    </label>
  </div>

  <div class="item" id="div_item_references">
    <label for="select_references_priv">
      <code><dfn title="{% trans 'Has no effect in this MySQL version.' %}">REFERENCES</dfn></code>
    </label>

    <select id="select_references_priv" name="References_priv[]" size="8" multiple>
      {% for curr_col, curr_col_privs in columns %}
        <option value="{{ curr_col }}"{{ row['References_priv'] == 'Y' or curr_col_privs['References'] ? ' selected' }}>
          {{ curr_col }}
        </option>
      {% endfor %}
    </select>

    <em>{% trans 'Or' %}</em>
    <label for="checkbox_References_priv_none">
      <input type="checkbox" name="References_priv_none" id="checkbox_References_priv_none" title="
        {%- trans %}None{% context %}None privileges{% endtrans %}">
      {% trans %}None{% context %}None privileges{% endtrans %}
    </label>
  </div>

  <div class="item">
    <div class="item">
      <input type="checkbox" name="Delete_priv" id="checkbox_Delete_priv" value="Y" title="
        {%- trans 'Allows deleting data.' %}"{{ row['Delete_priv'] == 'Y' ? ' checked' }}>
      <label for="checkbox_Delete_priv">
        <code>
          <dfn title="{% trans 'Allows deleting data.' %}">
            DELETE
          </dfn>
        </code>
      </label>
    </div>

    <div class="item">
      <input type="checkbox" name="Create_priv" id="checkbox_Create_priv" value="Y" title="
        {%- trans 'Allows creating new tables.' %}"{{ row['Create_priv'] == 'Y' ? ' checked' }}>
      <label for="checkbox_Create_priv">
        <code>
          <dfn title="{% trans 'Allows creating new tables.' %}">
            CREATE
          </dfn>
        </code>
      </label>
    </div>

    <div class="item">
      <input type="checkbox" name="Drop_priv" id="checkbox_Drop_priv" value="Y" title="
        {%- trans 'Allows dropping tables.' %}"{{ row['Drop_priv'] == 'Y' ? ' checked' }}>
      <label for="checkbox_Drop_priv">
        <code>
          <dfn title="{% trans 'Allows dropping tables.' %}">
            DROP
          </dfn>
        </code>
      </label>
    </div>

    <div class="item">
      <input type="checkbox" name="Grant_priv" id="checkbox_Grant_priv" value="Y" title="
        {%- trans 'Allows user to give to other users or remove from other users the privileges that user possess yourself.' %}"
        {{- row['Grant_priv'] == 'Y' ? ' checked' }}>
      <label for="checkbox_Grant_priv">
        <code>
          <dfn title="{% trans 'Allows user to give to other users or remove from other users the privileges that user possess yourself.' %}">
            GRANT
          </dfn>
        </code>
      </label>
    </div>

    <div class="item">
      <input type="checkbox" name="Index_priv" id="checkbox_Index_priv" value="Y" title="
        {%- trans 'Allows creating and dropping indexes.' %}"{{ row['Index_priv'] == 'Y' ? ' checked' }}>
      <label for="checkbox_Index_priv">
        <code>
          <dfn title="{% trans 'Allows creating and dropping indexes.' %}">
            INDEX
          </dfn>
        </code>
      </label>
    </div>

    <div class="item">
      <input type="checkbox" name="Alter_priv" id="checkbox_Alter_priv" value="Y" title="
        {%- trans 'Allows altering the structure of existing tables.' %}"{{ row['Alter_priv'] == 'Y' ? ' checked' }}>
      <label for="checkbox_Alter_priv">
        <code>
          <dfn title="{% trans 'Allows altering the structure of existing tables.' %}">
            ALTER
          </dfn>
        </code>
      </label>
    </div>

    <div class="item">
      <input type="checkbox" name="Create_view_priv" id="checkbox_Create_view_priv" value="Y" title="
        {%- trans 'Allows creating new views.' %}"{{ row['Create View_priv'] == 'Y' ? ' checked' }}>
      <label for="checkbox_Create_view_priv">
        <code>
          <dfn title="{% trans 'Allows creating new views.' %}">
            CREATE VIEW
          </dfn>
        </code>
      </label>
    </div>

    <div class="item">
      <input type="checkbox" name="Show_view_priv" id="checkbox_Show_view_priv" value="Y" title="
        {%- trans 'Allows performing SHOW CREATE VIEW queries.' %}"{{ row['Show view_priv'] == 'Y' ? ' checked' }}>
      <label for="checkbox_Show_view_priv">
        <code>
          <dfn title="{% trans 'Allows performing SHOW CREATE VIEW queries.' %}">
            SHOW VIEW
          </dfn>
        </code>
      </label>
    </div>

    <div class="item">
      <input type="checkbox" name="Trigger_priv" id="checkbox_Trigger_priv" value="Y" title="
        {%- trans 'Allows creating and dropping triggers.' %}"{{ row['Trigger_priv'] == 'Y' ? ' checked' }}>
      <label for="checkbox_Trigger_priv">
        <code>
          <dfn title="{% trans 'Allows creating and dropping triggers.' %}">
            TRIGGER
          </dfn>
        </code>
      </label>
    </div>

    {% if row['Delete versioning rows_priv'] is defined or row['Delete_history_priv'] is defined %}
      <div class="item">
        <input type="checkbox" name="Delete_history_priv" id="checkbox_Delete_history_priv" value="Y" title="
          {%- trans 'Allows deleting historical rows.' %}"
          {{- row['Delete versioning rows_priv'] == 'Y' or row['Delete_history_priv'] == 'Y' ? ' checked' }}>
        <label for="checkbox_Delete_history_priv">
          <code>
            <dfn title="{% trans 'Allows deleting historical rows.' %}">
              DELETE HISTORY
            </dfn>
          </code>
        </label>
      </div>
    {% endif %}
  </div>

  <div class="clearfloat"></div>
</fieldset>
