<form name="usersForm" id="usersForm" action="{{ url('/server/privileges') }}" method="post">
  {{ get_hidden_inputs() }}
  <div class="responsivetable row">
    <table id="tableuserrights" class="data">
      <thead>
        <tr>
          <th></th>
          <th>{% trans 'User name' %}</th>
          <th>{% trans 'Host name' %}</th>
          <th>{% trans 'Password' %}</th>
          <th>
            {% trans 'Global privileges' %}
            {{ show_hint('Note: MySQL privilege names are expressed in English.') }}
          </th>
          {% if menus_work %}
            <th>{% trans 'User group' %}</th>
          {% endif %}
          <th>{% trans 'Grant' %}</th>
          <th colspan="{{ user_group_count > 0 ? '3' : '2' }}">{% trans 'Action' %}</th>
        </tr>
      </thead>

      <tbody>
        {{ user_rights|raw }}
      </tbody>
    </table>
  </div>

  <div class="floatleft row">
    <img class="selectallarrow" width="38" height="22" src="
      {{- pma_theme_image }}arrow_{{ text_dir }}.png" alt="{% trans 'With selected:' %}">
    <input type="checkbox" id="usersForm_checkall" class="checkall_box" title="{% trans 'Check all' %}">
    <label for="usersForm_checkall">{% trans 'Check all' %}</label>
    <em class="with-selected">{% trans 'With selected:' %}</em>

    {{ get_button_or_image('submit_mult', 'mult_submit', 'Export'|trans, 'b_tblexport', 'export') }}

    <input type="hidden" name="initial" value="{{ initial }}">
  </div>

  <div class="clearfloat"></div>

  {{ add_user|raw }}

  <div class="row">
    <div class="col-12">
      <fieldset id="fieldset_delete_user">
        <legend>
          {{ get_icon('b_usrdrop') }}{% trans 'Remove selected user accounts' %}
        </legend>
        <input type="hidden" name="mode" value="2">

        <p>({% trans 'Revoke all active privileges from the users and delete them afterwards.' %})</p>

        <input type="checkbox" name="drop_users_db" id="checkbox_drop_users_db" title="
          {%- trans 'Drop the databases that have the same names as the users.' %}">
        <label for="checkbox_drop_users_db" title="
          {%- trans 'Drop the databases that have the same names as the users.' %}">
          {% trans 'Drop the databases that have the same names as the users.' %}
        </label>
      </fieldset>
    </div>
  </div>

  <fieldset id="fieldset_delete_user_footer" class="tblFooters">
    <input id="buttonGo" class="btn btn-primary ajax" type="submit" name="delete" value="{% trans 'Go' %}">
  </fieldset>
</form>
