<div id="edit_user_dialog">
  {{ header|raw }}

  {% if user_does_not_exists %}
    {{ 'The selected user was not found in the privilege table.'|trans|error }}
    {{ login_information_fields|raw }}
  {% endif %}

  <form class="submenu-item" name="usersForm" id="addUsersForm" action="{{ url('/server/privileges') }}" method="post">
    {{ get_hidden_inputs(params) }}

    {{ privileges_table|raw }}
  </form>

  {{ table_specific_rights|raw }}

  {{ link_to_database_and_table|raw }}

  {{ change_password|raw }}

  {{ change_login_information|raw }}
</div>
