<div class="container">
  <form action="{{ url('/table/delete/rows') }}" method="post" class="card">
    {{ get_hidden_inputs({
      'db': db,
      'table': table,
      'selected': selected,
      'original_sql_query': sql_query,
      'fk_checks': '0'
    }) }}

    <div class="card-header">
      {{ get_icon('s_really') }}
      {% trans 'Do you really want to execute the following query?' %}
    </div>

    <div class="card-body">
      <ul class="mb-3">
        {% for row in selected %}
          <li><code>DELETE FROM {{ backquote(table) }} WHERE {{ row }};</code></li>
        {% endfor %}
      </ul>

      <div class="form-check">
        <input class="form-check-input" type="checkbox" name="fk_checks" id="checkForeignKeyCheckbox" value="1"{{ is_foreign_key_check ? ' checked' }}>
        <label class="form-check-label" for="checkForeignKeyCheckbox">{% trans 'Enable foreign key checks' %}</label>
      </div>
    </div>

    <div class="card-footer">
      <input id="buttonYes" class="btn btn-danger" type="submit" name="mult_btn" value="{% trans 'Yes' %}">
      <input id="buttonNo" class="btn btn-secondary" type="submit" name="mult_btn" value="{% trans 'No' %}">
    </div>
  </form>
</div>
