<div class="print_ignore">
  <img class="selectallarrow" src="{{ select_all_arrow }}" width="38" height="22" alt="{% trans 'With selected:' %}">
  <input type="checkbox" id="resultsForm_{{ unique_id }}_checkall" class="checkall_box" title="{% trans 'Check all' %}">
  <label for="resultsForm_{{ unique_id }}_checkall">{% trans 'Check all' %}</label>
  <em class="with-selected">{% trans 'With selected:' %}</em>

  {{ get_button_or_image('submit_mult', 'mult_submit', 'Edit'|trans, 'b_edit', 'edit') }}

  {{ get_button_or_image('submit_mult', 'mult_submit', 'Copy'|trans, 'b_insrow', 'copy') }}

  {{ get_button_or_image('submit_mult', 'mult_submit', is_delete ? 'Delete'|trans : 'Kill'|trans, 'b_drop', 'delete') }}

  {% if has_export_button %}
    {{ get_button_or_image('submit_mult', 'mult_submit', 'Export'|trans, 'b_tblexport', 'export') }}
  {% endif %}
</div>

<input type="hidden" name="clause_is_unique" value="{{ clause_is_unique }}">
<input type="hidden" name="sql_query" value="{{ sql_query }}">
{% if url_query is not empty %}
  <input type="hidden" name="url_query" value="{{ url_query }}">
{% endif %}

</form>
