{{ sql_query_message|raw }}
{{ navigation|raw }}

<input class="save_cells_at_once" type="hidden" value="{{ headers.save_cells_at_once }}">
<div class="common_hidden_inputs">
  {{ get_hidden_inputs(db, table) }}
</div>

{% if headers.column_order is not empty %}
  {% if headers.column_order.order %}
    <input class="col_order" type="hidden" value="{{ headers.column_order.order|join(',') }}">
  {% endif %}
  {% if headers.column_order.visibility %}
    <input class="col_visib" type="hidden" value="{{ headers.column_order.visibility|join(',') }}">
  {% endif %}
  {% if not headers.column_order.is_view %}
    <input class="table_create_time" type="hidden" value="{{ headers.column_order.table_create_time }}">
  {% endif %}
{% endif %}

{% if headers.options is not empty %}
  <form method="post" action="{{ url('/sql') }}" name="displayOptionsForm" class="ajax print_ignore">
    {{ get_hidden_inputs({
      'db': db,
      'table': table,
      'sql_query': sql_query,
      'goto': goto,
      'display_options_form': 1
    }) }}

    <div{% if default_sliders_state != 'disabled' -%}
      {{- default_sliders_state == 'closed' ? ' style="display: none; overflow:auto;"' }} class="pma_auto_slider" title="{% trans 'Options' %}"
    {%- endif %}>

      <fieldset>
        <div class="formelement">
          <div>
            <input type="radio" name="pftext" id="partialFulltextRadioP{{ unique_id }}" value="P"{{ headers.options.pftext == 'P' ? ' checked' }}>
            <label for="partialFulltextRadioP{{ unique_id }}">{% trans 'Partial texts' %}</label>
          </div>
          <div>
            <input type="radio" name="pftext" id="partialFulltextRadioF{{ unique_id }}" value="F"{{ headers.options.pftext == 'F' ? ' checked' }}>
            <label for="partialFulltextRadioF{{ unique_id }}">{% trans 'Full texts' %}</label>
          </div>
        </div>

        {% if relwork and displaywork %}
          <div class="formelement">
            <div>
              <input type="radio" name="relational_display" id="relationalDisplayRadioK{{ unique_id }}" value="K"{{ headers.options.relational_display == 'K' ? ' checked' }}>
              <label for="relationalDisplayRadioK{{ unique_id }}">{% trans 'Relational key' %}</label>
            </div>
            <div>
              <input type="radio" name="relational_display" id="relationalDisplayRadioD{{ unique_id }}" value="D"{{ headers.options.relational_display == 'D' ? ' checked' }}>
              <label for="relationalDisplayRadioD{{ unique_id }}">{% trans 'Display column for relationships' %}</label>
            </div>
          </div>
        {% endif %}

        <div class="formelement">
          <input type="checkbox" name="display_binary" id="display_binary_{{ unique_id }}"
            {{- headers.options.display_binary is not empty ? ' checked' }}>
          <label for="display_binary_{{ unique_id }}">{% trans 'Show binary contents' %}</label>

          <input type="checkbox" name="display_blob" id="display_blob_{{ unique_id }}"
            {{- headers.options.display_blob is not empty ? ' checked' }}>
          <label for="display_blob_{{ unique_id }}">{% trans 'Show BLOB contents' %}</label>
        </div>

        {# I would have preferred to name this "display_transformation".
           This is the only way I found to be able to keep this setting sticky
           per SQL query, and at the same time have a default that displays
           the transformations. #}
        <div class="formelement">
          <input type="checkbox" name="hide_transformation" id="hide_transformation_{{ unique_id }}"
            {{- headers.options.hide_transformation is not empty ? ' checked' }}>
          <label for="hide_transformation_{{ unique_id }}">{% trans 'Hide browser transformation' %}</label>
        </div>

        <div class="formelement">
          {% if headers.options.possible_as_geometry %}
            <div>
              <input type="radio" name="geoOption" id="geoOptionRadioGeom{{ unique_id }}" value="GEOM"{{ headers.options.geo_option == 'GEOM' ? ' checked' }}>
              <label for="geoOptionRadioGeom{{ unique_id }}">{% trans 'Geometry' %}</label>
            </div>
          {% endif %}
          <div>
            <input type="radio" name="geoOption" id="geoOptionRadioWkt{{ unique_id }}" value="WKT"{{ headers.options.geo_option == 'WKT' ? ' checked' }}>
            <label for="geoOptionRadioWkt{{ unique_id }}">{% trans 'Well Known Text' %}</label>
          </div>
          <div>
            <input type="radio" name="geoOption" id="geoOptionRadioWkb{{ unique_id }}" value="WKB"{{ headers.options.geo_option == 'WKB' ? ' checked' }}>
            <label for="geoOptionRadioWkb{{ unique_id }}">{% trans 'Well Known Binary' %}</label>
          </div>
        </div>
        <div class="clearfloat"></div>
      </fieldset>

      <fieldset class="tblFooters">
        <input class="btn btn-primary" type="submit" value="{% trans 'Go' %}">
      </fieldset>
    </div>
  </form>
{% endif %}

{% if headers.has_bulk_actions_form %}
  <form method="post" action="{{ url('/table/row-action') }}" name="resultsForm" id="resultsForm_{{ unique_id }}" class="ajax">
    {{ get_hidden_inputs(db, table, 1) }}
    <input type="hidden" name="goto" value="{{ url('/sql') }}">
{% endif %}

  <div class="responsivetable">
    <table class="table_results data ajax" data-uniqueId="{{ unique_id }}">

      {{ headers.button|raw }}
      {{ headers.table_headers_for_columns|raw }}
      {{ headers.column_at_right_side|raw }}

        </tr>
      </thead>

      <tbody>
        {{ body|raw }}
      </tbody>
    </table>
  </div>

{% if bulk_links is not empty %}
    <div class="print_ignore">
      <img class="selectallarrow" src="{{ select_all_arrow }}" width="38" height="22" alt="{% trans 'With selected:' %}">
      <input type="checkbox" id="resultsForm_{{ unique_id }}_checkall" class="checkall_box" title="{% trans 'Check all' %}">
      <label for="resultsForm_{{ unique_id }}_checkall">{% trans 'Check all' %}</label>
      <em class="with-selected">{% trans 'With selected:' %}</em>

      {{ get_button_or_image('submit_mult', 'mult_submit', 'Edit'|trans, 'b_edit', 'edit') }}

      {{ get_button_or_image('submit_mult', 'mult_submit', 'Copy'|trans, 'b_insrow', 'copy') }}

      {{ get_button_or_image('submit_mult', 'mult_submit', 'Delete'|trans, 'b_drop', 'delete') }}

      {% if bulk_links.has_export_button %}
        {{ get_button_or_image('submit_mult', 'mult_submit', 'Export'|trans, 'b_tblexport', 'export') }}
      {% endif %}
    </div>

    <input type="hidden" name="clause_is_unique" value="{{ bulk_links.clause_is_unique }}">
    <input type="hidden" name="sql_query" value="{{ sql_query }}">
    {% if url_query is not empty %}
      <input type="hidden" name="url_query" value="{{ url_query }}">
    {% endif %}

  </form>
{% endif %}

{{ navigation|raw }}
{{ operations|raw }}
