{{ sql_query_message|raw }}
{{ navigation|raw }}

<input class="save_cells_at_once" type="hidden" value="{{ headers.save_cells_at_once }}">
<div class="common_hidden_inputs">
  {{ get_hidden_inputs(db, table) }}
</div>

{{ headers.data_for_resetting_column_order|raw }}
{{ headers.options_block|raw }}

{% if headers.has_bulk_actions_form %}
  <form method="post" action="{{ url('/table/row-action') }}" name="resultsForm" id="resultsForm_{{ unique_id }}" class="ajax">
    {{ get_hidden_inputs(db, table, 1) }}
    <input type="hidden" name="goto" value="{{ url('/sql') }}">
{% endif %}

  <div class="responsivetable">
    <table class="table_results data ajax" data-uniqueId="{{ unique_id }}">

      {{ headers.button|raw }}
      {{ headers.table_headers_for_columns|raw }}
      {{ headers.column_at_right_side|raw }}

        </tr>
      </thead>

      <tbody>
        {{ body|raw }}
      </tbody>
    </table>
  </div>

{% if bulk_links is not empty %}
    <div class="print_ignore">
      <img class="selectallarrow" src="{{ bulk_links.select_all_arrow }}" width="38" height="22" alt="{% trans 'With selected:' %}">
      <input type="checkbox" id="resultsForm_{{ unique_id }}_checkall" class="checkall_box" title="{% trans 'Check all' %}">
      <label for="resultsForm_{{ unique_id }}_checkall">{% trans 'Check all' %}</label>
      <em class="with-selected">{% trans 'With selected:' %}</em>

      {{ get_button_or_image('submit_mult', 'mult_submit', 'Edit'|trans, 'b_edit', 'edit') }}

      {{ get_button_or_image('submit_mult', 'mult_submit', 'Copy'|trans, 'b_insrow', 'copy') }}

      {{ get_button_or_image('submit_mult', 'mult_submit', 'Delete'|trans, 'b_drop', 'delete') }}

      {% if bulk_links.has_export_button %}
        {{ get_button_or_image('submit_mult', 'mult_submit', 'Export'|trans, 'b_tblexport', 'export') }}
      {% endif %}
    </div>

    <input type="hidden" name="clause_is_unique" value="{{ bulk_links.clause_is_unique }}">
    <input type="hidden" name="sql_query" value="{{ bulk_links.sql_query }}">
    {% if bulk_links.url_query is not empty %}
      <input type="hidden" name="url_query" value="{{ bulk_links.url_query }}">
    {% endif %}

  </form>
{% endif %}

{{ navigation|raw }}
{{ operations|raw }}
