<form method="post" action="{{ action }}" class="
    {{- action == 'tbl_create.php' ? 'create_table' : 'append_fields' -}}
    _form ajax lock-page">
    {{ get_hidden_inputs(form_params) }}
    {# happens when an index has been set on a column #}
    {# and a column is added to the table creation dialog #}
    {# This contains a JSON-encoded string #}
    <input type="hidden" name="primary_indexes" value="
        {{- primary_indexes is not empty ? primary_indexes : '[]' }}">
    <input type="hidden" name="unique_indexes" value="
        {{- unique_indexes is not empty ? unique_indexes : '[]' }}">
    <input type="hidden" name="indexes" value="
        {{- indexes is not empty ? indexes : '[]' }}">
    <input type="hidden" name="fulltext_indexes" value="
        {{- fulltext_indexes is not empty ? fulltext_indexes : '[]' }}">
    <input type="hidden" name="spatial_indexes" value="
        {{- spatial_indexes is not empty ? spatial_indexes : '[]' }}">

    {% if action == 'tbl_create.php' %}
        <div id="table_name_col_no_outer">
            <table id="table_name_col_no" class="tdblock">
                <tr class="vmiddle floatleft">
                    <td>{% trans 'Table name' %}:
                    <input type="text"
                        name="table"
                        size="40"
                        maxlength="64"
                        value="{{ table is defined ? table }}"
                        class="textfield" autofocus required>
                    </td>
                    <td>
                        {% trans 'Add' %}
                        <input type="number"
                            id="added_fields"
                            name="added_fields"
                            size="2"
                            value="1"
                            min="1"
                            onfocus="this.select()">
                        {% trans 'column(s)' %}
                        <input class="btn btn-secondary" type="button"
                            name="submit_num_fields"
                            value="{% trans 'Go' %}">
                    </td>
                </tr>
            </table>
        </div>
    {% endif %}
    {% if content_cells is iterable %}
        {% include 'columns_definitions/table_fields_definitions.twig' with {
            'is_backup': is_backup,
            'fields_meta': fields_meta,
            'mimework': mimework,
            'content_cells': content_cells,
            'change_column': change_column,
            'is_virtual_columns_supported': is_virtual_columns_supported,
            'browse_mime': browse_mime,
            'server_type': server_type,
            'max_rows': max_rows,
            'char_editing': char_editing,
            'attribute_types': attribute_types,
            'privs_available': privs_available,
            'max_length': max_length,
            'dbi': dbi,
            'disable_is': disable_is
        } only %}
    {% endif %}
    {% if action == 'tbl_create.php' %}
        <div class="responsivetable">
        <table>
            <tr class="vtop">
                <th>{% trans 'Table comments:' %}</th>
                <td width="25">&nbsp;</td>
                <th>{% trans 'Collation:' %}</th>
                <td width="25">&nbsp;</td>
                <th>
                    {% trans 'Storage Engine:' %}
                    {{ show_mysql_docu('Storage_engines') }}
                </th>
                <td width="25">&nbsp;</td>
                <th>
                    {% trans 'Connection:' %}
                    {{ show_mysql_docu('federated-create-connection') }}
                </th>
            </tr>
            <tr>
                <td>
                    <input type="text"
                        name="comment"
                        size="40"
                        maxlength="60"
                        value="{{ comment is defined ? comment }}"
                        class="textfield">
                </td>
                <td width="25">&nbsp;</td>
                <td>
                    {{ get_collation_dropdown_box(
                        dbi,
                        disable_is,
                        'tbl_collation',
                        null,
                        tbl_collation,
                        false
                    ) }}
                </td>
                <td width="25">&nbsp;</td>
                <td>
                    {{ get_html_select(
                        'tbl_storage_engine',
                        null,
                        tbl_storage_engine
                    ) }}
                </td>
                <td width="25">&nbsp;</td>
                <td>
                    <input type="text"
                        name="connection"
                        size="40"
                        value="{{ connection is defined ? connection }}"
                        placeholder="scheme://user_name[:password]@host_name[:port_num]/db_name/tbl_name"
                        class="textfield"
                        required="required">
                </td>
            </tr>
            {% if have_partitioning %}
                <tr class="vtop">
                    <th colspan="5">
                        {% trans 'PARTITION definition:' %}
                        {{ show_mysql_docu('Partitioning') }}
                    </th>
                </tr>
                <tr>
                    <td colspan="5">
                        {% include 'columns_definitions/partitions.twig' with {
                            'partition_details': partition_details
                        } only %}
                    </td>
                </tr>
            {% endif %}
        </table>
        </div>
        <div id="div_CC">
        <table><tbody><tr><th>Check Constraints</th></tr></tbody></table>
        <form action="" id="query_form">
            <input type="hidden" id="db_name" value="{{ db }}">
            <fieldset>
                {% for table in tables %}
                    <div style="display:none" id="{{ table.hash }}">
                        {% for column in table.columns %}
                            <option value="{{ column }}">{{ column }}</option>
                        {% endfor %}
                    </div>
                {% endfor %}


                {% for id in 0..default_no_of_columns %}
                    {% if id == 0 %}<div style="display:none" id="new_column_layout">{% endif %}
                    <fieldset style="display:inline" class="column_details">
                        <input type="text" placeholder="Column name"/>
                        <div>
                            <table>

                                <tr class="logical_operator" style="background:none;{% if id == 1 %}display:none;{% endif %}">
                                    <td>{% trans 'Add as' %}</td>
                                    <td>
                                        <input type="radio"
                                            name="logical_op[{{ id }}]"
                                            value="AND"
                                            class="logical_op"
                                            checked="checked">
                                        AND
                                    </td>
                                    <td>
                                        <input type="radio"
                                            name="logical_op[{{ id }}]"
                                            value="OR"
                                            class="logical_op">
                                        OR
                                    </td>
                                </tr>

                                <tr style="background:none">
                                    <td>Op </td>
                                    <td>
                                        <select class="criteria_op">
                                            <option value="=">=</option>
                                            <option value=">">&gt;</option>
                                            <option value=">=">&gt;=</option>
                                            <option value="<">&lt;</option>
                                            <option value="<=">&lt;=</option>
                                            <option value="!=">!=</option>
                                            <option value="LIKE">LIKE</option>
                                            <option value="LIKE %...%">LIKE %...%</option>
                                            <option value="NOT LIKE">NOT LIKE</option>
                                            <option value="IN (...)">IN (...)</option>
                                            <option value="NOT IN (...)">NOT IN (...)</option>
                                            <option value="BETWEEN">BETWEEN</option>
                                            <option value="NOT BETWEEN">NOT BETWEEN</option>
                                            <option value="IS NULL">IS NULL</option>
                                            <option value="IS NOT NULL">IS NOT NULL</option>
                                            <option value="REGEXP">REGEXP</option>
                                            <option value="REGEXP ^...$">REGEXP ^...$</option>
                                            <option value="NOT REGEXP">NOT REGEXP</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select class="criteria_rhs">
                                            <option value="text">{% trans 'Text' %}</option>
                                            <option value="anotherColumn">{% trans 'Another column' %}</option>
                                        </select>
                                    </td>
                                </tr>

                                <tr class="rhs_table" style="display:none;background:none">
                                    <td></td>
                                    <td>
                                        <select  class="tableNameSelect">
                                            <option value="">{% trans 'select table' %}</option>
                                            {% for table in tables|keys %}
                                                <option value="{{ table }}">{{ table }}</option>
                                            {% endfor %}
                                        </select>
                                    </td>
                                    <td>
                                        <select style="display:inline" class="columnNameSelect">
                                            <option value="">{% trans 'select column' %}</option>
                                        </select>
                                    </td>
                                </tr>

                                <tr style="background:none" class="rhs_text">
                                    <td></td>
                                    <td colspan="2">
                                        <input type="text"
                                            style="width:91%"
                                            class="rhs_text_val"
                                            placeholder="{% trans 'Enter criteria as free text' %}">
                                    </td>
                                </tr>

                                </table>
                        </div>
                        <a href="#"
                            title="{% trans 'Remove this criteria' %}"
                            style="float:right;color:red"
                            class="removeColumn">
                            X
                        </a>
                    </fieldset>
                    {% if id == 0 %}</div>{% endif %}
                {% endfor %}

                <fieldset style="display:inline">
                    <input type="button" value="{% trans '+ Add criteria' %}" id="add_column_button">
                </fieldset>

        </form>
        </div>{# Slider div #}

    {% endif %}
    <fieldset class="tblFooters">
        <input class="btn btn-secondary preview_sql" type="button"
            value="{% trans 'Preview SQL' %}">
        <input class="btn btn-primary" type="submit"
            name="do_save_data"
            value="{% trans 'Save' %}">
    </fieldset>
    <div id="properties_message"></div>
</form>
